<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8">
		<title>
			Teste de requisicao
		</title>
<!-- Angular JS files-->
		<script src="js/angular.js"></script>
		<script src="js/postserviceApp.js"></script>
		<script src="js/jquery-3.2.1.min.js"></script>
		
	</head>
		<div>
			<div>
				Name : <input ng-model="name" /><br/><br/>
				Age : <input ng-model="age" /><br/><br/>
				Adress : <input ng-model="adress" /><br/><br/>
				<input type="button" value="Send" ng-click="postdata(name, age, adress)" /><br/><br/>
			</div>
			<p>Output Message : {{msg}}</p>
			<p>StatusCode: {{statusval}}</p>
			<p>Status: {{statustext}}</p>
			<p>Response Headers: {{headers}}</p>
		</div>


	</body>
</html>