			<div class="row">

	                <div class="col-lg-12">
		                <form class="panel panel-default">
		                    <div class="panel-heading">Filtrar propostas por data</div>
		                    <div class="panel-body">
				              <div class="form-group col-sm-3">
				                <label class="footer-heading">Por qual data deseja buscar:</label>
		                        
								<select class="form-control" ng-options="s.name for s in dateSearchOptions track by s.id" ng-model="searchOption">
									<option value="">Selecione</option>
								</select>
				              </div>
				              <div class="form-group col-sm-3">
				                <label class="footer-heading">Data inicial da pesquisa:</label>
								<input class="form-control" type="date" ng-model="dataInicioPesquisa">
				              </div>
				              <div class="form-group col-sm-3">
				                <label class="footer-heading">Data de fim da pesquisa:</label>
								<input class="form-control" type="date" ng-model="dataFimPesquisa">
								
				              </div>
				              <div class="form-group col-sm-6">
				              <input type="button" id='perquisarPorData' class="btn btn-primary" value="Filtrar" ng-click="filtrarPorData()"/>
				              </div>
				              <div class="form-group col-sm-6">
				              <input type="button" id='limparFiltros' class="btn btn-primary" value="Limpar filtros" ng-click="limparFiltrosPorData()"/>
				              </div>				              
		                    </div>

		                </form>

	                </div>

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row" ng-show="propostaAtiva">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Executar proposta {{propostaAtiva.nome}}
                        </div>
                        <div class="panel-body">
	                        <div class="form-group col-sm-6">
	                        	<label class="footer-heading">Valor do Ativo na transação (R$):</label>
	                        	<input class="form-control" type="number" ng-model="propostaAtiva.valorCorrenteAtivo">
	                        </div>
		                    <div class="form-group col-sm-6">
	                        	<label class="footer-heading">Quantidade de ativos:</label>
	                        	<input class="form-control" type="number" ng-model="propostaAtiva.minCotas">
	                        </div>
	                        <div class="form-group col-sm-6">
	                        	<input type="button" class="btn btn-primary" value="Executar Proposta" ng-click="executarProposta()"/>
	                        </div>
	                        <div class="form-group col-sm-6">
	                        	<input type="button" class="btn btn-primary" value="Voltar" ng-click="limparExecucao()"/>
	                        </div>
                        </div>
                        
                    </div>
          		</div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Lista Geral de Propostas
                        </div>
                       
                        <!-- /.panel-heading -->
                        <div class="panel-body">
		               		<div class="row">
			                    <div class="col-lg-3">
		
			                    </div> 
			                    <div class="col-lg-3">
		
			                    </div> 
			                </div>                       
                        
                            <table width="100%" class="table table-striped table-bordered table-hover" id="visaoGeral">
                                <thead>
                                    <tr>
                                        <th>							            
				                            <div class="form-group">
				                                <input placeholder="Filtrar" ng-model="searchText.nome">
				                            </div>
											<span ng-click="sortBy('nome')">
												Nome
												<i ng-class="{'glyphicon glyphicon-triangle-top':isSortUp('nome'),'glyphicon glyphicon-triangle-bottom':isSortDown('nome')}"></i>
											</span>
					                        	                                       
                                        </th>
                                        <th>
				                            <div class="form-group">
				                                <input  placeholder="Filtrar" ng-model="searchText.estadoPropostaString">
				                            </div>
                                        	<span ng-click="sortBy('estadoPropostaString')">
                                        		Status
                                        		<i ng-class="{'glyphicon glyphicon-triangle-top':isSortUp('estadoPropostaString'),'glyphicon glyphicon-triangle-bottom':isSortDown('estadoPropostaString')}"></i>
                                        	</span>
                                        </th>
                                        <th>
				                            <div class="form-group">
				                                <input  placeholder="Filtrar" ng-model="searchText.percentLucro">
				                            </div>  
                                        	<span ng-click="sortBy('percentLucro')">Percentual                                        
												<i ng-class="{'glyphicon glyphicon-triangle-top':isSortUp('percentLucro'),'glyphicon glyphicon-triangle-bottom':isSortDown('percentLucro')}"></i>
                                        	</span>
                                      
                                        </th>
                                        <th>
                                        	<span ng-click="sortBy('dataInicio')">
                                        		Data Inicial
                                        		<i ng-class="{'glyphicon glyphicon-triangle-top':isSortUp('dataInicio'),'glyphicon glyphicon-triangle-bottom':isSortDown('dataInicio')}"></i>
                                        	</span>
                                        </th>
                                        <th>
                                        	<span ng-click="sortBy('dataFim')">
                                        		Data Final
                                        		<i ng-class="{'glyphicon glyphicon-triangle-top':isSortUp('dataFim'),'glyphicon glyphicon-triangle-bottom':isSortDown('dataFim')}"></i>
                                        	</span>
                                        </th>
                                        <th>Ação</th>

                                    </tr>
                                </thead>
                                <tbody ng-repeat="proposta in propostasPorData | filter:searchText:strict | orderBy:propertyName:reverse">
                                    <tr class="odd gradeX">
                                        <td>{{proposta.nome}}</td>
                                        <td class="center">{{proposta.estadoPropostaString}}</td>
										<td class="center">{{proposta.percentLucro | number:4}}%</td>

                                        <td>{{proposta.dataInicio | date:"dd/MM/yyyy HH:mm:ss"}}</td>
                                        <td>{{proposta.dataFim | date:"dd/MM/yyyy HH:mm:ss"}}</td>
										<td class="center"><input type="button" value="Executar Proposta" data-ng-click="carregarProposta(proposta)"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
